@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter:opsz,wght@14..32,600&display=swap");

body {
  font-family: "Inter", serif;
}

.hero-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 837px;
  margin-bottom: 131px;
}

.hero-banner .hero-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.hero-banner .container {
  max-width: 90%;
  width: 100%;
  color: #fff;
  padding: 0 1rem;
}

.hero-banner h1 {
  font-size: 2.5rem;
}

.hero-banner p {
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .hero-banner h1 {
    font-size: 4rem;
  }
  .hero-banner p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .hero-banner h1 {
    font-size: 6rem;
  }
  .hero-banner p {
    font-size: 1.5rem;
  }
}

.futuro-da-mobilidade {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.futuro-da-mobilidade .custom-container {
  width: 90%;
  max-width: 1097.73px;
  padding: 20px;
  border-radius: 25.45px;
  background-color: #ede6e6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.futuro-da-mobilidade .titulo {
  max-width: 680px;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 1rem;
}

.futuro-da-mobilidade h2 {
  font-size: 2rem;
  color: #618f1f;
  margin: 0;
}

@media (min-width: 768px) {
  .futuro-da-mobilidade h2 {
    font-size: 3.75rem;
  }
}

.futuro-da-mobilidade .texto {
  max-width: 837px;
  padding-left: 1rem;
}

.futuro-da-mobilidade p {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
  color: #000000;
  text-align: left;
  margin: 0 0 20px 0;
}

@media (min-width: 768px) {
  .futuro-da-mobilidade p {
    font-size: 1.125rem;
  }
}

.divider {
  width: 100%;
  height: 1px;
  margin: 50px 0;
  background-color: #ede6e6;
}

h1.text-start {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;
  color: #000000;
}

@media (min-width: 768px) {
  h1.text-start {
    font-size: 3.5rem;
  }
}

.card {
  border: 1px solid black;
  background-color: #ede6e6;
  text-align: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 123px;
  margin-right: 64.5px;
  padding-bottom: 105px;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-title {
  font-size: 1.25rem;
  margin-top: 15px;
  color: #000000;
}

@media (min-width: 768px) {
  .card-title {
    font-size: 1.5rem;
  }
}

.card-text {
  font-size: 1.625rem;
  color: #000000;
}

@media (min-width: 768px) {
  .card-text {
    font-size: 1.125rem;
  }
}

.category-title {
  font-size: 1.625rem;
  font-weight: 400;
  margin: 40px 0 20px 0;
  text-align: left;
  padding-bottom: 1.5rem;
  color: #000000;
}

@media (min-width: 768px) {
  .category-title {
    font-size: 2rem;
  }
}

.row.g-4 {
  row-gap: 2rem;
}
