header #greenDriveLogo {
  position: absolute;
  top: 6px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header .nav-item {
  margin-left: 10px;
}

header .nav-link {
  font-size: 18px;
}

.navbar .nav-link:hover {
  color: #28a745;
}

@media (min-width: 1441px) {
  header .nav-link {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  header #greenDriveLogo {
    top: 17px;
    width: 100px;
    height: auto;
  }
}
