@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter:opsz,wght@14..32,600&display=swap");

body {
  width: 100%;
  font-family: "Inter", serif;
}

main {
  margin-bottom: 200px;
}

main .img-introduction-container {
  width: 100%;
  height: 100vh;
}

main #introductionMainImage {
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

main .titleContainer {
  position: absolute;
  top: 26%;
  left: 6%;
}
main .titleContainer h1 {
  font-size: 60px;
  margin: 0;
}

main .grreeDrivetitleP {
  font-size: 34px;
}
main .introductionSectionContainer {
  margin-top: 60px;
  margin-left: 90px;
  gap: 60px;
}

main .libraryInfoPart1 {
  width: 48%;
}

main .libraryInfoPart2 .principalH2Features {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 40px;
}

main .liContainer {
  margin-left: 48px;
}

main .libraryInfoPart2 .principalH2Features h2 {
  margin: 0;
}

main .grennDriveIntroduction {
  font-size: 50px;
}

main .greenDriveResume {
  font-size: 22px;
}

main .greenDriveSpan {
  color: #618f1f;
}

main .guideSpan {
  color: #eda7a7;
}

main .carEvolutionSection {
  margin-top: 140px;
  margin-bottom: 180px;
}

main .titleCarEvolutionSecionContainer h1 {
  width: 600px;
  font-size: 40px;
  margin-bottom: 30px;
  margin-left: 90px;
}

main .carEvolutionTopicsContainer {
  column-gap: 100px;
}

main .card-container {
  font-size: 20px;
  width: 580px;
  gap: 20px;
  height: 300px;
}

main .spanCarEvolutionCard {
  color: #618f1f;
}

main .talkToUsSection {
  width: 100%;
  height: 556px;
  background-color: #ede6e6;
  margin-bottom: 200px;
  padding-left: 48px;
}

main #talkToUSIcon {
  width: 512px;
  height: 512px;
  image-rendering: crisp-edges;
  margin-right: 200px;
}

main .talkToUsSection h2 {
  font-size: 40px;
}

main .talkToUsSection .talkToUsInput {
  width: 447px;
  margin-bottom: 9px;
  height: 52px;
  border: none;
  padding: 8px;
  outline: none;
}

main .talkToUsSection .talkToUsDivInputText .talkToUsInputText {
  width: 221px;
}

main #contactPrefer {
  border: none;
  padding: 8px;
  height: 48px;
  outline: none;
}

main .talkToUsSection button {
  margin-top: 9px;
  height: 40px;
  border: none;
  background-color: #353535;
  color: white;
}

main .VideoPitch {
  width: 800px;
  height: 500px;
  background-color: #d9d9d9;
}

@media (min-width: 1800px) {
  main .card-container {
    font-size: 24px;
    width: 700px;
    gap: 20px;
    height: 300px;
  }
  main .talkToUsSection {
    padding: 0px;
  }
}

@media (min-width: 1441px) {
  main .titleContainer h1 {
    font-size: 80px;
  }
  main .titleContainer p {
    font-size: 50px;
  }
  main .talkToUsSection {
    justify-content: center;
  }
  main .introductionSectionContainer {
    margin-top: 120px;
    margin-left: 130px;
  }
  main .titleCarEvolutionSecionContainer h1 {
    margin-left: 130px;
  }
  main .liContainer li {
    font-size: 22px;
    margin-left: 48px;
  }
  main .libraryInfoPart2 .principalH2Features h2 {
    font-size: 38px;
  }
  main .grennDriveIntroduction {
    font-size: 54px;
    margin-bottom: 36px;
  }
}

@media (max-width: 1430px) {
  main .img-introduction-container {
    height: 80vh;
  }
  main #introductionMainImage {
    height: 80vh;
  }
}

@media (max-width: 1264px) {
  main .introductionSectionContainer {
    margin-left: 86px;
  }
  main .titleCarEvolutionSecionContainer h1 {
    margin-left: 86px;
  }
  main .grennDriveIntroduction {
    font-size: 40px;
    margin-bottom: 60px;
  }
  main .greenDriveResume {
    font-size: 20px;
  }
  main .libraryInfoPart2 .principalH2Features h2 {
    font-size: 26px;
  }
  main .titleCarEvolutionSecionContainer h1 {
    font-size: 40px;
  }
  main .card-container {
    font-size: 18px;
    width: 500px;
    gap: 20px;
    height: 300px;
  }
  main .carEvolutionTopicsContainer {
    column-gap: 40px;
  }

  main #talkToUSIcon {
    margin-right: 100px;
  }
  main .talkToUsSection h2 {
    font-size: 30px;
  }
  main .talkToUsSection .talkToUsDivInputText .talkToUsInputText {
    width: 160px;
  }
  main #contactPrefer {
    height: 48px;
  }
  main .talkToUsSection button {
    margin-top: 9px;
    height: 40px;
  }
  main .talkToUsSection .talkToUsInput {
    width: 322px;
  }
}

@media (max-width: 1047px) {
  main .titleContainer {
    top: 18%;
  }
  main .titleContainer h1 {
    font-size: 50px;
  }
  main .titleContainer p {
    font-size: 30px;
  }
  main .card-container {
    font-size: 18px;
    width: 600px;
    gap: 20px;
    height: 300px;
  }
  main .grennDriveIntroduction {
    font-size: 34px;
  }

  main .titleCarEvolutionSecionContainer h1 {
    font-size: 34px;
  }
  main .carEvolutionSection {
    margin-bottom: 20px;
  }
  main .talkToUsSection {
    padding: 0px;
  }
}

@media (max-width: 1010px) {
  main .talkToUsSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
  }
  main #talkToUSIcon {
    width: 400px;
    height: 400px;
    margin-right: 0px;
  }
  main .talkToUsSection .talkToUsDivInputText .talkToUsInputText {
    width: 200px;
  }
  main #contactPrefer {
    width: 402px;
  }
  main .talkToUsSection button {
    width: 402px;
    margin-top: 9px;
  }
  main .talkToUsSection .talkToUsInput {
    width: 402px;
  }
  main .VideoPitch {
    width: 600px;
    height: 400px;
  }
}

@media (max-width: 992px) {
  main #introductionMainImage {
    height: 70vh;
  }
}

@media (max-width: 954px) {
  main .introductionSectionContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 0px;
  }
  main .libraryInfoPart1 {
    text-align: center;
  }
  main .libraryInfoPart2 {
    text-align: center;
    width: 456px;
  }
  main .libraryInfoPart2 .principalH2Features h2 {
    font-size: 30px;
  }
  main .liContainer {
    margin-left: 40px;
  }
  main .titleCarEvolutionSecionContainer {
    align-items: center;
    justify-content: center;
  }
  main .grennDriveIntroduction {
    font-size: 36px;
  }
  main .titleCarEvolutionSecionContainer h1 {
    text-align: center;
    font-size: 36px;
    margin: 0px;
  }
}

@media (max-width: 654px) {
  main .titleContainer {
    top: 14%;
  }
  main .titleContainer h1 {
    font-size: 30px;
  }
  main .titleContainer p {
    font-size: 20px;
  }
  main #introductionMainImage {
    height: 50vh;
  }
  main .liContainer {
    padding: 2px;
    margin-left: 8px;
  }
  main .carEvolutionSection {
    padding: 24px;
  }

  main .carEvolutionImgs {
    width: 60px;
    height: 60px;
  }
  main .VideoPitch {
    width: 400px;
    height: 200px;
  }
}
